/*-Importa outros arquivo css para este-*/
@import url(./header.css);

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    margin-top: 80px;
}
#header{
    position: fixed;
    top: 0;
    z-index: 1;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    color: rgb(70, 70, 70);
}

#about p {
    font-size: larger;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

#searchCompany {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    color: rgb(70, 70, 70);
}

#search {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    border: 1px solid;
    width: 25%;
}

#searchCompany input {
    text-align: center;
    border: 0;
    margin-left: 20px;
    width: 75%;
    height: 30px;
}

#searchCompany input:focus {
    outline: 0;
}

#searchCompany button {
    text-align: center;
    background-color: rgb(70, 70, 70);
    color: rgb(219, 219, 219);
    width: 25%;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
}

